.backspace, .clear, .equals{
    background-color: brown;
}
h1{
    background-color: blanchedalmond;
    padding: 10px;
    border-width: 4px; 
    border-style: ridge;
    
}
table{
    background-color: blanchedalmond;
    padding: 30px;
    align-items: normal;
    border-width: 4px;
    border-style: ridge;
}

input{
    color: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    font-weight:normal;
    width: 50px;
    padding: 10px;
    background-color: #b67a91;
}
#result{
    width: auto;
}

body {
    padding:0;
    margin:0;
    background: linear-gradient(to right, #b67a91, #96fcc0)
}

.calculator-2 {
    display:grid;
    justify-content:center;
    align-content: center;
    min-height: 100vh;
    border-radius: 10px;
}
